<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Shoes Manager</title>
</head>
<body>
<div align="center">	
	<div >
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
		<div>
		<h1>List of Users</h1>
	</div>
	
    <h3><a th:href="@{/users}">List of Users</a></h3>
	<h1>Shoes Manager</h1>
	
	<div>
		<a href="new">Create New Shoes</a>
	</div>
	
	<br/><br/>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Shoes ID</th>
				<th>Name</th>
				<th>Brand</th>
				<th>Made In</th>
				<th>Price</th>			
				
				<th >Actions</th>				
			</tr>
		</thead>
		<tbody>
			<tr th:each="shoes : ${listShoes}">
				<td th:text="${shoes.id}">Shoes ID</td>
				<td th:text="${shoes.name}">Name</td>
				<td th:text="${shoes.brand}">Brand</td>
				<td th:text="${shoes.madein}">Made in</td>
				<td th:text="${shoes.price}">Price</td>
				<td >
					<a th:href="@{'/edit/' + ${shoes.id}}">Edit</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a th:href="@{'/delete/' + ${shoes.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>